#userProfileTab {
    margin: 24vh auto 0;
    width: 32%;
    overflow: hidden;
    border-radius: 25px;
    background-color: #8cc9bc;
    box-shadow: 0px 10px 20px #444;
}
#userProfileTab > .container {
    margin: 3vh 0;
}
