#header {
    position: absolute;
    font-size: 1.6em;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 6px -6px black;
}

#header .container {
    padding: 0.4vh;
}